name: CodeZen

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: antoprince001/code-zen-track-action@v1.0.2
        id: prompt
        with:
          persona: "Superman DC Comics"
          github-input: "contributions"
          action: "judge"
          tone: "funny"
          contribution-period: 50
          output-length: 25
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          API_GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
      
      - name: Create an issue
        uses: actions-ecosystem/action-create-issue@v1
        with:
          github_token: ${{ secrets.API_GITHUB_TOKEN }}
          title: Code Zen Tracking Prompt
          body: |
            ## This week's TODO

            - [ ] Have a meeting with UX team
            - [ ] Check the dashboard
            We understand the significance of maintaining a state of code zen and fostering a healthy coding mindset. To support you in this endeavor, we've generated a personalized prompt using GPT (a language model) to help you track and enhance your code zen.
            
            #### GPT Response:
            ${{ steps.prompt.outputs.response }}
            
            We encourage you to reflect on this prompt and consider incorporating it into your coding routine. Embracing code zen can lead to improved focus, creativity, and efficiency in your programming tasks.
            
            Remember to take regular breaks, practice self-care, and maintain a growth mindset throughout your coding journey. 
            
            Wishing you a harmonious coding experience !

          labels: |
            code-zen
            
#       - uses: antoprince001/code-zen-track-action@v1.0.2
#         id: prompt1
#         with:
#           persona: "Batman DC Comics"
#           github-input: "issueComments"
#           action: "quote"
#           tone: "serious"
#           contribution-period: 50
#           output-length: 25
#         env:
#           OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
#           API_GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
      
#       - uses: antoprince001/code-zen-track-action@v1.0.2
#         id: prompt2
#         with:
#           persona: "Deadpool Marvel Comics"
#           github-input: "prs"
#           action: "joke"
#           tone: "funny"
#           contribution-period: 50
#           output-length: 25
#         env:
#           OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
#           API_GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
      
#       - uses: antoprince001/code-zen-track-action@v1.0.2
#         id: prompt3
#         with:
#           persona: "Elon Musk Twitter"
#           github-input: "repos"
#           action: "judge"
#           tone: "right"
#           contribution-period: 50
#           output-length: 25
#         env:
#           OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
#           API_GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
    
